<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">Khushboo</h1>
      <div class="subheading mb-5">
        Bengaluru, 560078 ·
        <a href="mailto:name@email.com">khushboo15624@gmail.com</a>
      </div>
      <p class="lead mb-5">
        Highly skilled software developer with 2 years of experience seeking a
        challenging role to contribute to the development and delivery of
        innovative software solutions. Committed to continuous learning and
        staying updated with emerging technologies to drive successful project
        outcomes.
      </p>
      <div class="social-icons">
        <a class="social-icon" href="https://www.linkedin.com/in/khushboo-952b681a2"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="https://github.com/Khushboog24"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </section></div>
