<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Chitkara University</h3>
        <div class="subheading mb-3">Bachelor of Science</div>
        <div>Computer Science</div>
        <p>CGPA: 9.63</p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">August 2018 - May 2022</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">Shishu Niketan Model Sr. Sec. School</h3>
        <div class="subheading mb-3">Science (PCM)</div>
        <p>Percentage: 72.6%</p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">April 2017 - April 2018</span>
      </div>
    </div>
  </div>
</section>
