<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <a href="https://angular.io/">ANGULAR</a>
      </li>
      <li class="list-inline-item">
        <a href="https://ionicframework.com/">IONIC</a>
      </li>

      <li class="list-inline-item">
        <a href="https://javascript.info/">JAVASCRIPT</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.typescriptlang.org/">TYPESCRIPT</a>
      </li>
      <li class="list-inline-item">
        <a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"
          >HTML5</a
        >
      </li>
      <li class="list-inline-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>
      </li>
      <li class="list-inline-item">
        <a href="https://sass-lang.com/">SASS</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.npmjs.com/">NPM</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.smartsvn.com/">SMARTSVN</a>
      </li>
    </ul>
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Mobile-First, Responsive Design
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Cross Browser Testing & Debugging
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Cross Functional Teams
      </li>
    </ul>
  </div>
</section>
