<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">Pratishthan Software Ventures</div>
        <ul>
          <li>
            Developing a hybrid app for a reputable multinational insurance
            company.
          </li>
          <li>
            Proficient in Angular 14, Ionic 6, and Java through hands-on
            Experience.
          </li>
          <li>
            Implemented RESTful APIs to enhance application functionality.
          </li>
          <li>
            Utilized HTML5 and CSS to create engaging and responsive web
            experiences.
          </li>
          <li>
            Leveraged XML to design and generate Scalable Vector Graphics
            (SVGs).
          </li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">June 2022 - Present</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Intern</h3>
        <div class="subheading mb-3">Translab Technologies</div>
        <ul>
          <li>Worked on a development project using Angular and Nebular.</li>
          <li>Possess knowledge of cloud networking.</li>
          <li>Worked on Ansible Automation.</li>
          <li>Deployed AWX, EFK in Kubernetes with Ansible.</li>
          <li>Basic knowledge of Networking.</li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">June 2021 - May 2022</span>
      </div>
    </div>
  </div>
</section>
